#gallery-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 400px;
  display: flex;
}

.gallery-item img {
  display: block;
  margin: auto;
  width: 50%;
}

.gallery-item:hover {
  background-color: pink;
  cursor: pointer;
}