.header {
  background-color: lightblue;
}

.header-img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  font-family: Arial;
}