/* .App {
  text-align: center;
  font-family: 'Lucida Sans';
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border: 1px solid lightskyblue;
  margin: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  padding: 0px;
}
tr:nth-child(even) {
  background-color: lightskyblue;
}

button {
  margin-left: 1vw;
  border: none;
  background-color: dodgerblue;
  color: white;
} */
